h1, div, body {
    margin:0;
    padding:0;
    box-sizing: border-box;
}
h1 {
    font-family: 'Ubuntu', sans-serif;
    margin: auto;
    color: #b1e390;
    width: 70%;
    text-align: center;

}
.accord-container {
    margin: 20px auto;
    width: 70%;
}
.accord__div {
    margin: 0 auto;
    /* height: 0; */
    background-color: #b1e390;
    padding: 30px;
    transition: color 0.5s, padding 0.5s;
    overflow: hidden;
    font-family: 'Ubuntu', sans-serif;
    color: rgb(7, 66, 18);
    font-size: 1.5em;
    text-align: center;
    border: 3px solid #fff;
    border-radius: 5px;
}
.accord__img {
    width: 40%;
    height: auto;
    display: block;
    margin: 2% auto 0;
}
